.icon {
  width: 30px;
}

.contactResult{
  margin-left: 50px;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.head {
  font-size: 20px;
  margin: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: rgba(11, 2, 47, 0.781);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tbody {
  font-size: 15px;
  margin: 15px;
  color: #282c3493;
}

table {
  border-collapse: separate;
  border-spacing: 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(11, 21, 78);
}

p {
  color: #282c34b6;
}

.btn {
  width: 195px;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(245, 229, 8, 0.582);
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 150px;
}

.contact-form {
  width: 50%;
}

.contact-form h1 {
  margin-left: 40px;
}

.contact-form table {
  border-collapse: separate;
  border-spacing: 50px 20px;
}

.contact-form textarea {
  resize: none;
  padding: 10px;
  width: 195px;
}

.contact-details {
  width: 50%;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.219);
}

input {
  padding: 10px;
}
