.contactResult {
  margin-left: 50px;
}
.contactResult p {
  color: #282c34b6;
  text-align: justify;
}
#contactUs {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  min-height: 100%;
  background-color: #1F2637;
}
.contact-details table {
  border-collapse: separate;
  border-spacing: 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color:white;

}

.contact-details table .icon {
  width: 30px;
}
.contact-details table .head {
  font-size: 20px;
  margin: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-details table .tbody {
  font-size: 15px;
  margin: 15px;
  color:white;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 150px;
}
.contact-details {
  width: 50%;
  margin-left: 20px;
}

.contact-details h1 {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 700;
  color:white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-details p {
  color:white;
  text-align: justify;
  margin-left: 12px;
}

.vl {
  border-left: 4px solid #14b761;
  height: 270px;
  left: 60%;
  margin-left: -3px;
  top: 0;
}
.contact-form {

  width: 85vw;
  margin-left: -75px;

}

.contact-form h1 {
  margin-left: 20px;
  font-weight: 700;
  color:white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form table {
  border-collapse: separate;
  border-spacing: 50px 20px;
  color:white;

}

.contact-form input {
  padding: 10px;
  border-radius: 5px;
}
.contact-form textarea {
  resize: none;
  padding: 10px;
  width: 187px;
  height: 100px;
  border-radius: 5px;
}
.btn {
  width: 195px;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #14b761;
  color:white;
}

.contact-details {
  width: 85vw;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffc039;
}

@media screen and (max-width: 350px) {
  .contact-section {
    display: flex;
    flex-direction: column;
    width: 85vw;
  }
}

@media screen and (max-width: 768px) and (min-width: 350px) {
  .contact-section {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center; */
    gap: 40px;
    flex-direction: column
  }
  .vl{
    display:none;
  }
}
