.test {
  border: solid 2px red;
  margin-left: 43px;
  margin-bottom: 43px;
  margin-top: 43px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  float: left;
}

