.footer {
  background-color: rgb(31, 38, 59);
  opacity: 0.9;
  color: white;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  font-size: 20px;
  align-content: center;
  font-family: Courier, monospace;
}
